.open-sans-fonts {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'width' 100;
}

/* shared style */
.dis-flex {
  display: flex;
}
/* dark-1 */
.text-gray {
  color: #424242;
}
.header-bg {
  background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn {
  background-color: rgba(255, 144, 14, 1);
  padding: 16px 20px;
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #131313;
}

/* nav style is start here */

.brand {
  font-size: 2rem;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.navbar,
.banner {
  max-width: 1100px;
  margin: 0px auto;
}
/* banner style is start here */
.banner-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.banner-title {
  font-size: 4rem;
  font-weight: bold;
}
.banner-description {
  color: rgba(114, 114, 114, 1);
  font-size: 16px;
  font-weight: 400;
}
.banner img {
  width: 100%;
}

/* main section is start here */

main {
  max-width: 1100px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}

/* teamwork section is start here */
.team-section {
  align-items: center;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.team-feature {
  margin-left: 130px;
  width: 450px;
}

.Quick-title {
  font-size: 2rem;
  font-weight: 500;
  color: #424242;
}
.Features-title {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(255, 144, 14, 1);
}

.team-description {
  color: #424242;
  margin: 40px 0;
}

/* facts section style is start here */

.facts-title-des {
  width: 470px;
  height: 130px;
}

.facts-description {
  color: #424242;
  font-weight: 400px;
  font-size: 16px;
}

.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
}

.fact-cards {
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.facts-number {
  font-size: 30px;
  font-weight: 600px;
  margin-top: 5px;
  margin-bottom: 7px;
  color: rgba(66, 66, 66, 1);
}
.facts-name {
  font-size: 18px;
  font-weight: 600px;
  color: rgba(114, 114, 114, 1);
  margin-top: 10px;
}

/* responsive media query */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .team-section {
    flex-direction: column;
  }
  .team-img {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-feature {
    margin-left: 20px;
  }
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
